* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  /* padding: 2vh 15vw; */
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 10;
  border-bottom: solid 2px rgb(201, 197, 197);
}

.top-header{
  display: flex;
  margin-bottom: 20px;
  padding: 10px;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
  position: relative;
  left: 40px;
}

.search-button {
  background-color:orange;
  height: 40px;
  width: 60px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
  margin: 0 0 0 auto;
  position: relative;
  right: 40px;
}

.header-content{
  margin: 0 20px;
}

.header-content:hover {
  background: gray;
  color: white;
}





/* second-header */

.second-header {
  width: 11vh;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.second-logo {
  /* width: 150px; */
}


/* タブレット対応 */
@media (max-width: 1024px) {

}

 /* スマホ表示 */
@media (max-width: 599px) {
  
}