/* room共通部分 */
.chat_room{
  display: flex;
  margin: 20px auto;
  border: solid 1px rgb(136, 136, 136);
  box-shadow: 0 5px 5px 0 rgba(184, 184, 184, 0.5);
  height: 82vh;
  width: 65%;
}
.room_user{
  width: 30%;
  overflow-x: scroll;
}
.soll{
  display: flex;
}
.soll2{
  margin: 25px auto;
  /* width: 200px; */
  text-align: center;
  border-bottom: solid 1px rgb(136, 136, 136);
}
.tadfd{
  display: flex;
  margin: 0 0 20px 0;
  display: inline-block;
}
.message_user{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid gray;
  object-fit: cover;
}
.room_user_content{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 1px gray;
  margin: 14px 0 5px 20px;
  object-fit: cover;

}
.chat_nickname_content{
  margin: 15px auto;
  display: block;
  padding: 10px;
}
.chat_nickname{
  display: block;
  font-size: 12px;
  width: 15vw;  
	white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;  
	-webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;  
}


/* room/index */
.main_chat_demo{
  border-left: solid 1px rgb(136, 136, 136);
  width: 70%;
}
.chat_demo_image{
  width: 150px;
  height: 150px;
}
.chat_demo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* room_show */
.main_chat{
  width: 70%;
  border-left: solid 1px rgb(136, 136, 136);
}
.room_user_list{
  border-bottom: solid 1px;
}


/* message_form部分 */


.form-text-field{
  width: 100%;
  height: 50px;
  text-align: left;
  padding: 10px 35px 10px 10px;
  border: solid 1px blue;
  border-radius: 30px;
  white-space: pre-line;
  word-wrap: break-word;

}
.form-submit{
  position: relative;
}
.new_message{
  text-align: center;
  margin: 10px;
}
.message_icon{
  width: 22px;
  height: 22px;
  position: absolute;
  bottom: 13px;
  right: 20px;
}

/* トーク部分 */
.chats{
  padding:0 20px 0 10px;
  /* border-right: solid 1px rgb(136, 136, 136); */
  overflow-x: scroll;
  height: 71vh;
  margin-top: 10px;
}

/* current_userの場合 */
.lost_right{
  width: 100%;
  margin: 0 0 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.current_chat_box{
  position: relative;
  display: inline-block;
  margin: 10px 0 0  0;
  padding: 7px 10px;
  background: #FFF;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 60%;
}
.current_chat_box:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -24px;
  margin-top: -12px;
  border: 12px solid transparent;
  border-left: 12px solid #FFF;
  z-index: 2;
}
.current_chat_box:after {
  content: "";
  position: absolute;
  top: 50%;
  right: -30px;
  margin-top: -14px;
  border: 14px solid transparent;
  border-left: 14px solid #555;
  z-index: 1;
}
.current_chat_text{
  font-size: 12px;
}
.current_chat_time{
  font-size: 7px;
  color: gray;
  text-align: end;
  margin-right: 3px;
}


/* 他ユーザーの場合 */
.lost_left{
  width: 100%;
}
.chat-box {
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 60%;
  color: #555;
  background:#8DE055;
  border: solid 3px #555;
  box-sizing: border-box;
  border-radius: 10px;
}
.chat-contents{
  display: flex;
  margin-bottom: 5px;
}
.chat_user_image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid gray;
}
.chat_user_nickname{
  margin: 0 0 3px 5px;
  font-size: 8px;
}
.chat-text{
  font-size: 12px;
}
.chat_time{
  font-size: 7px;
  color: gray;
  text-align: end;
  margin-left:3px;
}
.chat_text_time{
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width:900px){
  .chat_room{
    width: 95%;
  }
}
@media screen and (max-width:480px){
  .room_user_content{
    margin: 14px 0 5px 5px;
  }
}