// トップページ

body{
  word-break: break-all;
  font-family:Century;
  background-color: #ffe4ad;
  min-height: 100vh;
  // font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  margin: 0 auto;
  max-width: 1080px;
  min-height: calc(100vh - 120px);
}


/* TOP画像*/
.title-contents {
  width: 100%;
  height: 80%;
  margin: 20px auto;
}
.top_image{
  position: relative;
}
.main_image{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.top_image p{
  position: absolute;
  color: white;
  font-size: 3vw;
  font-weight: bold;
  top: 25%;
  left: 22%;
}
.main_image2{
  position: absolute;
  top: 26%;
  right: 16%;
  width: 16%;
}
.main_image_text{
  position: absolute;
  top: 54%;
  left: 23%;
  color: white;
  font-size: 3vw;
  font-weight: bold;
}
.main_image_text span{

}

.top_image span{
  font-size: 4.5vw;
  font-weight: bold;
  color: rgb(49, 49, 49);
  background:linear-gradient(transparent 70%, #f8ff5e 0%);
}
/* //TOP画像*/


// SELECT-------
.top_choice{
  height: 250px;
  margin: 50px 0;
}
.item_title{
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-bottom: solid 2px rgb(133, 86, 0);
  width: 130px;
  font-size: 25px;
  font-weight: bold;
  color: rgb(133, 86, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.story-product{
  text-align: center;
  display: flex;
  height: 180px;
  justify-content: center;
}
.product-btn {
  margin: 10px;
  font-weight: bold;
}
.item_search_page{
  background-color: #fbbea8;
  display: block;
  height: 180px;
  max-width: 500px;
  width: 40vw;
  margin: 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_search_page:hover{
  transform: scale(1.3, 1.3);
}
.tweet_search_page:hover{
  transform: scale(1.3, 1.3);
}
.tweet_search_page{
  background-color: #90bdf5;
  display: block;
  height: 180px;
  width: 40vw;
  max-width: 500px;
  margin: 20px;
  border: solid 1px rgb(226, 226, 226);
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  align-items: center;
}
.shopping_image{
  width: 109px;
  height: 109px;
  margin-top: 20px;
}

.select_box{

}
// SELECT-------//


// tweet横スクロール------
.item_tweet_main{
  width: 100%;
  text-align: center;
  margin: 80px auto;
  padding: 5px;
}
.ososo{
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.horizontal-list {
  // margin: 10px 0 15px 0;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  height: 400px;
}
.new_tweet_title{
  padding: 0 10px;
}
.tweet_new_title{
  position: absolute;
    top: -10px;
    left: 441px;
    width: 50px;
    height: 50px;
    z-index: 1;
}
.tweet_scroll_search{
  padding: 0 10px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.tweet_scroll_search:hover{
  border-bottom: 1px solid rgb(136, 136, 136);
}


.item {
  display: inline-block;
  margin: 0 15px;
}
.item_tweet_list{
  border: 1px solid #d1d1d1;
  background-color: #fff1d6;
  width: 220px;
  height: 300px;
  margin-top: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
}
.item_tweet_list:hover{
  transform: scale(1.1, 1.1);
  border: 2px solid black;
}
.item_image_text{
  text-align: center;
}
.item_tweet_image{
  height:170px;
  width: 99%;
  bottom: 50px;
  margin-top: 2px;
  object-fit: cover;
  text-align: center;
}
.item_tweet_user_informations{
  padding: 5px;
  margin:5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item_tweet_user_image{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid rgb(87, 87, 87);
  background-color: white;
}
.index_tweet_text{
  white-space: nowrap;  
	overflow: hidden;  
	text-overflow: ellipsis;  
	-webkit-text-overflow: ellipsis;  
	-o-text-overflow: ellipsis;  
  padding: 5px;
  font-size: 12px;
  color: rgb(167, 167, 167);
}
.item_tweet_user{
  width: 50%;
  font-size: 13px;
}
.index_tweet_time{
  color: black;
  font-weight: bold;
  font-size: 10px;
  margin: 9px auto;
  background-color: #ffb834;
  width: 95px;
  text-align: center;
  padding: 6px;
  border: 1px solid black;
  border-radius: 5px;
}
.index_tweet_time:hover{
  transform: scale(1.2, 1.2);
}




// 共通部分

.item-non{
  padding: 10px 0;
  text-align: center;
}



// メディアクエリ 
@media screen and (max-width:960px) {
    // favorite/twee
    .tweet_favorite_title{
      display: none !important;
    }

    .top_image p{
      font-size: 4vw;
    }
    .top_image span {
      font-size:5.5vw;
    }
    .main_image_text{
      font-size: 4vw;
    }

}

@media screen and (max-width:767px){
  .shopping_image{
    width: 70px;
    height: 70px;
  }
  .main_image{
    height: 300px;
  }
}

@media screen and (max-width:600px) {
  .header_left{
    display: none;
  }

  .top_image p{
    font-size: 5vw;
    left: 15%;
  }
  .top_image span {
    font-size:6.5vw;
  }
  .main_image_text{
    font-size: 5vw;
  }
}

 
@media screen and (max-width:480px) {

  // item/item or story
  .item_search_page{
    margin:20px 5px;
  }
  .tweet_search_page{
    margin:20px 5px;
  }

  // item/index メイン画像
  .main_image{
    height: 200px;
  }
  .top_image p{
    top: 25%;
    left: 13%;
  }
  .main_image_text{
    top: 54%;
    left: 25%;
  }

  // ログイン
  input#message-image {
    font-size: 10px;
  }
  // shop/new edit
} 