/* item/show商品詳細ページ */

/* 商品の画像 */
.item-show {
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.item-box {
  /* width: 100vw; */
  display: flex;
  margin:50px 0 100px 0;
}
.left-image{
  width: 45%;
  margin: 0 60px;
}
.item-image-content{
  position: sticky;
  top: 165px;
}
.item-box-image {
  height: 500px;
  width: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}



/* 商品説明 */
.right-item{
  width: 40%;
}
.right-item>.name {
  font-weight: 900;
  font-size: 30px;
  margin: 0 0 30px 0;
  color: black;
  letter-spacing: 0.05em;
}
.item-price-box {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
}
.item-price-box>.item-price {
  font-size: 20px;
  font-weight: bold;
  color: gray;
}
.item-price-box>.item-postage {
  font-size: 13px;
  color: gray;
}
.item-edit-btn {
  width: 20px;
  margin-right: 5px;
}
.item-edit-btn:hover{
  transform: rotate(30deg);
}
.item-destroy {
  width: 20px;
}
.item-destroy:hover{
  transform: rotate(30deg);
}
.item-buy-btn{
  border: solid 1px black;
  padding: 10px;
  background-color: rgb(252, 148, 140);
  font-weight: bold;
  color: black;
}
/* 商品説明 */

/* 商品情報 */
.item-explain-box {
  font-size: 15px;
  white-space: pre-line;
  word-wrap: break-word;
  text-align: left;
  padding: 10px 16px 8px;
  margin-bottom: 150px;
}
.detail-table {
  margin: 30px 0;
  width: 80%;
}
.detail-item {
  width: 35%;
  background-color: rgb(253, 216, 147);
  border: 1px solid gray;
  font-size: 14px;
  text-align: center;
}
.detail-value {
  width: 90%;
  padding: 20px;
  border: 1px solid gray;
  font-size: 14px;
  color: #3b4043;
}
/* //商品情報 */



/* .option {
  display: flex;
  justify-content: space-between;
  position: relative;
} */

/* .favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
} */

/* .report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .report-flag-icon {
  margin-right: 5px;
} */

/* .links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
} */

/* .change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: orange;
} */
/* 
.another-item {
  display: block;
  margin: 30px 0px 8px;
  text-align: center;
  color: orange;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
} */


/* /商品の一覧 */
.show_item_shop{
  text-align: center;
  padding: 10px;
  margin: 20px auto;
  border-bottom: solid 2px rgb(133, 86, 0);
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  color: rgb(133, 86, 0);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
/* //商品の一覧 */