.tweet_nav{
  display: flex;
  position: relative;
  right: 20px;
  padding: 20px;
  border-bottom: solid 2px rgb(201, 197, 197);
}

.lists-rights{
  margin: 0 0 0 auto;
  display: flex;
}

.story_view {
  /*線の種類（二重線）太さ 色*/
  font-size: 30px;
  margin: 5px;
  text-align:center;
  padding:50px ;
}

.twitter{
  display: flex;
}

.tweet_side{
  width: 30vw;
  /* height: 200vh; */
  background-color: rgb(236, 236, 236);
  /* position: fixed; */
  margin: 0 0 0 5px;
}

.side_text{
  padding: 20px;
  position: sticky;
  top: 20px;
}

.side_tag{
  display: block;
  margin: 20px;
  font-size: 20px;
}



.tweet_main{
  width: 60vw;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  width: 90%;
  background-color: #fff;
}

.tweet_list{
  width: 100%;
  padding: 0px 20px;
  margin: 20px;
  color: #2c2c2f;
  border: 1px solid rgb(209, 209, 209);
  /* border-collapse: separate; */
  background-color: rgb(252, 252, 252);
  display: flex;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
  /* word-wrap:break-all; */
  padding: 5px;
}

/* @media (max-width: 800px) {
  .tweet_main {
    column-count: 2;
  }
} */

/* @media (max-width: 480px) {
  .tweet_main {
    column-count: 1;
  }
} */

.tweet_image{
  width:100vh;
  height:50vh;
  position: relative;
  bottom: 50px;
}

.ttt{
  display: flex;
  flex-wrap: wrap;
}

.tweets_text{
  /* width:60%; */
  position: relative;
  bottom: 50px;
}

.tweet_under{
  position: absolute;
  right: 0;
  bottom: 40px;
  /* padding: 10px; */
  padding: 10px;
  color: blue;
  text-align: center;
}

.tweet_user{
  padding: 10px;
  color: orange;
}


.tweet_preview{
  margin: 0 auto;
  width: 300px;
  height: 200px;
}

.tweet_all{
  text-align: center;
}

.tweet_text{
  text-align: left;
  width: 600px;
  height: 400px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.tweet_images{
  display: flex;
  margin: 0 auto;
  padding: 50px;
}

.tweet_submit{
  display: flex;
  margin: 30px auto 200px auto;
  padding: 10px;
  background-color: orange;
}

.tweetter{
  width: 400px;
    /* height: 400px; */
  margin: 40px auto;
}

.more{
  /* display: flex; */
  text-align:right;
}

.message-image{
  width: 50vw;
  height: 50vw;
}

.one_tweet{
  border: 1px solid rgb(209, 209, 209);
  /* padding: 30px; */
  margin: 20px auto;
  width: 50vw;
  position: relative;
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.one_image{
  text-align: center;
  margin: 40px;
}

.one_user{
  text-align: center;
}

.one_more_list{
  display: flex;
  padding: 20px;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.one_edit{
  background-color: orange;
  padding: 20px 40px;
  margin: 20px;
}

.one_delete{
  background-color: rgb(201, 201, 201);
  padding: 20px 40px;
}

.image_text{
  /* display: flex; */
  /* width: 70%;
    margin: 0 auto; */
}

.tweet_comment{
  text-align: center;
  margin-top: 50px;
}

.tweet_comments{
  display: flex;
  /* justify-content: center; */
  width: 800px;
  margin: 40px auto;
  font-size: 18px;
    /* margin: 10px 0px; */
    overflow-wrap: anywhere;
    /* white-space: pre-wrap; */
    /* word-wrap: break-word; */
    text-align: left;
    box-sizing: border-box;
    max-width: 500px;
}

.tweet_comment_text{
  background-color: rgb(233, 231, 231);
  border-radius: 100px;
  border: 1px solid orange;
  width: 600px;
  padding: 0 50px;
}

.tweet_comment h4{
  font-size: 20px;
}