/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}

/* userサイドメニュー */

.user_menu{
  width: 20%;
  margin: 50px 0 0 20px;
}
.user_side_bar{
  display: flex;
  border-bottom: solid 1px rgb(181, 181, 181);
  width: 18vw;
  padding: 25px 0 5px 5px;
  align-items: center;
}
.user_side_bar:hover{
  background-color: rgb(253, 216, 147);
  transform: scale(1.2, 1.2);
}
.user_menu_image{
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.user_side_text{
  font-size: 1vw;
}



/* user情報 */
.user__wrapper{
  display: flex;
  margin-top: 20px;
}

.page-heading {
  font-size: 30px;
  margin: 10px auto;
  font-size: 30px;
  padding: 10px;
  width: 750px;
  position: relative;
  max-width: 100%;
}

.show_shop_image img{
  width: 100vw;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.user-image {
  border-radius: 50%;
  width: 14vw;
  max-width: 150px;
  max-height: 150px;
  height: 14vw;
  border: solid 2px black;
  z-index: 2;
  position: absolute;
  top: 170px;
  left: 60px;
  background-color: white;

}

.user_top_img{
  z-index: 100;
}

.stoiko{
  display: flex;
  margin: 20px auto;
  width: 50%;
  border-radius: 5px;
}
.sutoikobiti{
  width: 45%;
}
.shop_list_name{
  font-size: 17px;
  display: flex;
  justify-content: flex-end;
}

.user_contents{
  width: 100%;
}
.user_content{
  font-size: 17px;
  margin-left: 10px;
}
.user_left{
  margin-top: 310px;
}


.user-table {
  width: 60%;
  margin: 35px auto;
}

.detail-shop {
  width: 25%;
  background-color: rgb(253, 216, 147);
  border-bottom: solid 1px rgb(181, 181, 181);
  font-size: 1vw;
  text-align: center;
}

.detail-user {
  width: 43%;
  padding: 5px;
  border-bottom: solid 1px rgb(181, 181, 181);
  font-size: 1vw;
  color: rgb(0, 0, 0);
  text-align: center;
}


/* フォーム周り */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.form__text {
  width: 50%;
}

.field{
  margin: 10px 0;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.user_profile_nickname{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 0 0;
}

.user_nickname{
  font-size: 1.6vw;
}

.two_edit{
  margin: 0 0 10px 10px;
  position: absolute;
  top: 250px;
  right: 0;
}

.user_edit{
  width: 25px;
  height: 25px;
}
.user_edit:hover{
  transform: rotate(30deg);
}

.chat{
  font-size: 12px;
  padding: 5px 5px;
  /* border-radius: 5px; */
  position: absolute;
  top: 270px;
  right: 0;
  border: solid 1px gray;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}
.chat2{
  font-size: 12px;
  padding: 5px 5px;
  position: absolute;
  top: 270px;
  right: 0;
  border: solid 1px gray;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}




/* show/followページ */
.follow_cancel{
  border:solid 1px gray ;
  font-size: 12px;
  padding: 5px 7px;
  text-align: center;
  position: absolute;
  top: 270px;
  right: 80px;
  color: white;
  background-color: rgb(0, 102, 255);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.follow_action{
  border:solid 1px gray ;
  font-size: 12px;
  width: 70px;
  padding: 5px 7px;
  text-align: center;
  position: absolute;
  top: 270px;
  right: 80px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
}

.follow_number{
  display: flex;
  justify-content: center;
}

.follow_contents_number{
  font-size: 15px;
  margin: 5px;
  padding: 0 5px;
}
.follow_contents_number:hover{
  border-bottom: 1px solid orange;
}

.follow_number_text{
  font-size: 10px;
  color: gray;
  margin-left: 3px;
}

.follow_number_count{
  display: flex;
  align-items: center;
}

.user_chat{
  text-align: center;
}

.shop_make{
  text-align: center;
  margin: 30px auto;
  font-size: 15px;
  border: solid 1px rgb(196, 196, 196);
  padding: 5px;
  width: 20vw;
}

/* .chat{
  font-size: 20px;
  border: solid 1px gray;
  padding: 7px 8px;
  background-color: rgb(255, 207, 117);
  width: 200px;
} */







/* 続きを読む------ */

.grad-btn {
  font-size: 12px;
  padding: 5px 8px;
  margin: 0 0 0 80%;
  color: rgb(39, 94, 39);
  /*.grad-btnのCSSは表示/非表示の動作には関係ないので、ご自由にどうぞ。*/
}
.grad-btn::before {
  content: "続きを読む"
}
.grad-item {
  position: relative;
  overflow: hidden;
  height: 80px; 
  font-size: 1vw;
  margin: 15px auto 8px;
  width: 80%;
  white-space: pre-line;
  word-wrap: break-word;
}
.grad-item::before {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; 
  content: "";
}
.grad-trigger {
  display: none;
}
.grad-trigger:checked ~ .grad-btn::before {
  content: "閉じる" 
}
.grad-trigger:checked ~ .grad-item {
  height: auto;
}
.grad-trigger:checked ~ .grad-item::before {
  display: none; 
}



















.greeting{
  margin-bottom: 20px;
}
.greeting__link{
  text-decoration: underline;
}

.user_all_item{
  /* padding: 70px 0 px 0; */
  /* border-bottom: 5px orange solid; */
  margin: 150px 0 0 0;
  text-align: center;
}

.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}
.card__img {
  margin-bottom: 16px;
}
.card__title {
  display: block;
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
}
.card__summary {
  font-size: 16px;
}
.card__user {
  display: block;
  font-size: 12px;
  color: #999;
  text-align: right;
  text-decoration: underline;
}








/* 詳細ページ */
.prototype__wrapper{
  min-height: calc(100vh - 161px);
}
.prototype__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.prototype__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.prototype__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.prototype__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
}
.prototype__manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.prototype__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.prototype__btn:hover{
  color: #fff;
  background: #999;
}

.prototype__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 28px 0 40px 0;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 5px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}


/* フッター */

.footer {
  background-color:white;
  padding: 10px 0;
}
.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }


  .card {
    width: 48%;
    margin-bottom: 40px;
    /* background-color:chartreuse; */
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}




.dreams{
  padding: 20px 0 60px 0;
  text-align: center;
  font-size: 20px;
}









/* item_favorite */
.item_favorite{
  height: 100%;
}

.favorite_title{
  margin: 50px;
  text-align: center;
}

.favorite_content{
  display: flex;
  border-top: solid 1px rgb(165, 165, 165);
  /* border-bottom: solid 1px gray; */
  padding: 10px;
  width: 600px;
  margin: 0 auto;
  
}

.favorite_image{
  width: 150px;
  height: 120px;
  object-fit: cover;
}
.favorite_image_list{
  position: relative;
}

.favorite_text{
  margin-left: 20px;
  width: 300px;
  display: flex;
  /* height: 20px; */
}

.ale{
  display: flex;
  width: 100%;
}

.favorite_name{
  margin-right: 10px;
}

.favorite_price{
  margin: 20px;
}

.item_favorite_delete{
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}
.item_favorite_delete:hover{
  transform: rotate(30deg);
}

.item_favorite_right{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.yazirusi{
  width: 20px;
  height: 20px;
}




/* user_followページ */

.follow{
}

.follow_title{
  margin: 50px;
  text-align: center;
}

.follow_content{
  display: flex;
  border-top: solid 1px rgb(182, 182, 182);
  padding: 10px;
  width: 600px;
  margin: 0 auto;
}

.alea{
  display: flex;
  width: 100%;
}

.follow_image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid gray;
}

.follow_text{
  margin-left: 20px;
}

.follow_nickname{
  font-size: 20px;
  margin-bottom: 10px;
}

.follow_shop_text{
  width: 100%;
  font-size: 14px;
}

.heart{
  width: 25px;
  height: 25px;
}

.item_like_ask{
}

.likesss{
  margin: 20px 0 20px 0;
}



/* tweet_search/likeページ */
.tweet_favorite_title{
  margin: 0 auto 50px auto;
  padding: 30px;
  text-align: center;
  border-bottom: solid 1px rgb(107, 107, 107);
  /* width: 20vw; */
  font-size: 20px;
}


.tweet_like{
  margin: 10px;
}

.tweet_like_btn{
  width: 25px;
  height: 25px;
}
.not_tweet_favorite{
  text-align: center;
  width: 40%;
  margin-top: 170px;
}
.not_tweet_favorite p{
  margin-top: 20px;
  font-size: 13px;
  width: 100%;
}
.not_item_favorite{
  text-align: center;
  margin-top: 80px;
}
.not_item_favorite p{
  text-align: center;
  color: gray;
  margin-top: 20px;
  font-size: 13px;
}
.not_favorite_image{
  width: 100px;
  height: 100px;
}




.not_item_story{
  text-align: center;
  padding: 10px 0;
}


/* item/indexのいいね */

.item_index_like{
  margin: 5px 0 0 0;
  position: relative;
}
.index_heart{
  width: 15px;
  height: 15px;
  position: absolute;

  left: 120px;
}



@media screen and (max-width:767px) {
  .user_side_text{
    display: none;
  }
  .user_side_bar{
    border: 0 ;
  }
  .user_menu {
    width: 10% ;
    margin: 0 ;
  }
  .user-image{
    top:200px;
  }
  .favorite_content{
    width:470px;
  }
}